*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Open-sans' , sans-serif;
}
:root{
    --bg-color: conic-gradient(#a7aef9 , #ddccf8 , #f5c9d9 , #cebbfa , #a7aef9);
    --primary-color:#573b8a;
    --light-gray:#f7f7f7;
    --btn-hover:#6d44b8;
}
body{
    background:var(--bg-color);
    height: 100vh; /* min-height*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width:350px;
    height:500px;
    background-color: rgba(255,255,255,0.2);
}