/* General Css Style */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Varela Round', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
h1 , h2 , h3 , h4 , h5 , h6{
    font-family: 'montserrat' , sans-serif;
}
button{
    font-family: 'Varela Round', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
 .header-content{
     overflow:hidden;   /* to solve float problem */
}
 .container{
    width:80%;
    margin:auto;
}
.header{
    position:fixed;
    z-index:10;
    width:100%; 
}
 .header .logo{
    width:40%;
    float:left;
}
.header .logo img{
    width:20%;
    margin-top: 15px;
}
 .header .nav{
    width:60%;
    float:left;
    list-style:none;
    text-align:right;
}
 .header .nav li{
    display:inline-block;
    width:75px;
    text-align:right;
}
.header .nav li a{
    color:#fff;
    text-decoration: none;
    display : block;
    padding:30px 12px;
}
.overlay{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.7);
}
.hover-opacity{
    transition:0.5s;
}
.hover-opacity:hover{
    opacity:0.8;
}
/* Home Section */
.home{
    height:100vh;
    background-image: url(Images/background1.jpg);
    background-size: cover;
    position:relative;
}
.home-content{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50% , -50%);
    text-align: center;
    width:65%;
}
.home .title{
    color:#fff;
    font-size:3.5rem;
    text-transform: uppercase;
}
.home .home-desc{
    margin:20px 0;
    color:white;
    letter-spacing: 2px;
    line-height:1.5;
}
.home .btn{
    min-width:160px;
    padding:15px 0;
    border-radius: 5px;
    border:0;
    cursor:pointer;
    font-size:16px;
}
.home .btn-start{
    margin-right: 10px;
    background-color: white;
}
.home .btn-learn{
    background-color: #6195ff;
    color:white;
}
/* About Section */
/* Portfolio Section */
/* Service Section */
/* Prices Section */
/* Team Section */
/* Blog section */
/* Contact Section */