/* Common style */
/*
- Opacity on hover
- section header for every section
- section padding around every title
- hover effect 1 (left to right)
- hover effect 2 (top to bottom)
- container 
 */

/* General Css Style */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

 body{
    font-family: 'Varela Round', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
 .header-content{
     overflow:hidden;   /* to solve float problem */
}
 .container{
    width:80%;
    margin:auto;
}
.header{
    background:grey;
}
 .header .logo{
    width:40%;
    float:left;
}
 .header .nav{
    width:60%;
    float:left;
    list-style:none;
}
 .header .nav li{
    display:inline-block;
}
.header .nav li a{
    color:#fff;
    text-decoration: none;
    display : block;
    padding:30px 12px;

}