*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Open Sans' , sans-serif;
}
:root{
    --primary-color:#111727;
    --secondary-color:#7f8289;
    --bg-color:#e7e8ec;
    --border-color:rgba(0, 0, 0, 0.2);
}
body{
    height:100vh;
    background-color: var(--bg-color);
    color:var(--primary-color);
    display:grid;
    place-items: center;
}
.form_container{
    width:80%;
    height:80%;
    max-width:1200px;
    background-color:#fff;
    display:flex;
}
.right,
.left{
    flex:1;
    padding:2rem;
}
/* LEFT */

/* RIGHT */
.right{
    position:relative;
    display:flex;
    align-items:flex-end;
    background-image: url('photo2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.right::after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(17, 23, 39, 0.3);
    z-index:1;
}
.right .info{
    color:#fff;
    z-index:2;
}
.right .info p{
    margin-bottom:1rem;
    font-size:22px;
    line-height:1.5;
    letter-spacing:2px;
}
.right .arrows{
    margin-top:2rem;
    display:flex;
    justify-content: flex-end;
    gap:10px;
}
.right .arrows img{
    width:60px;
    height:60px;
}
.right .arrows img:hover{
    scale:1.1;
    cursor:pointer;
}